#intro { 
    background: url(/images/love.jpg) 50% 0 fixed; 
    height: 40;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 300px 0;
}
#home { 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
    background-position: 50% 0px;
    background: #FFF no-repeat fixed;
    color: #5E3921;
    height: 770px;
    margin: 0 auto;
    padding: 2.5em 0;
}
#about { 
    background: url(/images/timer-bg.jpg) ; 
    color: #FFF;
    width: 100%;
    height: 410px;
    left: 0;
    padding: 5em 0;
}

#parents { 
    background: #FFF;
    margin: 0 auto;
    color: #5E3921;
    padding: 2.5em 0;
    background-position: 50% 0px;
}

/* Non-essential demo stuff */
.hero-unit {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.media-object { 
    width: 64px; height: 64px; padding-bottom: 30px 
}

@font-face {
    font-family: CaviarDreams;
    src: url(/fonts/CaviarDreams_Italic.ttf);
}

@font-face {
    font-family: AlexBrush;
    src: url(/fonts/AlexBrush-Regular.ttf);
}

.textIntro {
    font-family: AlexBrush;
    padding-left: 125px;
    padding-top: 45px;  

}
hr {
    width: 6%;
}

h1 {
    text-align: center;
    font-size: 6em;
    color: #FFF;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

h2{
    font-size: 2.2em;
    color: #D65679;
    line-height: 130%;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    padding: 1em 0;
    text-align: center;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

h3 {
    font-size: 1.6em;
    color: #6E6E86;
    line-height: 100%;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 3em 0 0 0;
    margin: 0 auto;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

h4 {
    font-size: 1.2em;
    color: #FFF;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

h5 {
    font-size: 1em;
    color: #6E6E86;
    line-height: 100%;
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-weight: 400;
    padding: 0 0.3em 0 0.3em;
    -webkit-font-smoothing: antialiased;
}


.heart.content-style{
    width: 10%;
    padding: 0; 
    border: 0;
    border-top: 1px solid #6E6E86; 
    color: #D65679; 
    margin: 2% auto;
    text-align: center;
}

.heart.content-style:after{
    content: "♥"; 
    display: inline-block; 
    position: relative; 
    top: -0.8em; 
    font-size: 2.3em;
    padding: 0 0.25em; 
    background: #FFF;
}
.bride-name{
    font-size: 1.5em;
    color: #D65679;
    line-height: 100%;
    padding-top: 0.6em;
}

.bride-description{
    color: #D65679;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0;
    text-transform: none;
}

.groom-name{
    font-size: 1.5em;
    color: #6E6E86;
    line-height: 80%;
    padding-top: 0.6em;
}

.groom-description{
    color: #6E6E86;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0;
    text-transform: none;
}

.shape{
    width: 250px;
    height: 250px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.shape:hover .overlay{
    -webkit-transform: scale(1.06, 1.06);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
    -moz-transform: scale(1.06, 1.06);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.3s;
}

.shape .overlay.hexagon{
    background: url("../images/hexagon.png");
}

.shape .overlay{
    display: block;
    width: 260px;
    height: 260px;
    position: absolute;
    top: -5px;
    left: -5px;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.6s;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.6s;
    transform: scale(1, 1);
    transition-timing-function: ease-out;
    transition-duration: 0.6s; 
    z-index: 10;
    background-repeat: no-repeat;
    outline: 0;
}

.social{
    font-family: 'FontAwesome';
    font-size: 1.4em;
    text-decoration: none;
    padding: 1.6em;
    margin: 0 auto;
    text-align: center;
}

p {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin: 10px 6px;
    text-align: center;
    color: #6E6E86;
    line-height: 140%;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
}


div.your-clock.flip-clock-wrapper{
    /*padding-left:250px;*/
    padding-top: 78px;
}

.header-quote{
    position: absolute;
    width: 74%;
    margin: 1em 2.8em;
    font-size: 1em;
    margin-left: 300px;
    margin-top: -1px
}





#parents {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
}

.parents {
    width: 190px;
    height: 190px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.parents .overlay {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -5px;
    left: -5px;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.6s;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.6s;
    transform: scale(1, 1);
    transition-timing-function: ease-out;
    transition-duration: 0.6s;
    z-index: 10;
    background-repeat: no-repeat;
    outline: 0;
}

/* parents shape */
.parents .overlay.hexagon {
    background: url("../images/hexagon-parents.png");
}

/* parents images hover effect */
.parents:hover .overlay {
    -webkit-transform: scale(1.05, 1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
    -moz-transform: scale(1.05, 1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.3s;
}

.parents-text h2 {
    margin: 1.2em auto;
    text-align: center;
}

.parents-text-women h4 {
    margin: 1em auto;
    text-align: center;
    color: #D65679;
}

.parents-text-men h4 {
    margin: 1em auto;
    text-align: center;
    color: #6E6E86;
}

/* godfathers */
#godfathers {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3em;
    visibility: hidden;
}

.godfathers {
    width: 190px;
    height: 190px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.godfathers .overlay {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -5px;
    left: -5px;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.6s;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.6s;
    transform: scale(1, 1);
    transition-timing-function: ease-out;
    transition-duration: 0.6s;
    z-index: 10;
    background-repeat: no-repeat;
    outline: 0;
}

.godfathers-img {
    position: relative;
    display: block;
}

/* godfathers shape */
.godfathers .overlay.hexagon {
    background: url("../images/hexagon-godfathers.png");
}

/* godfathers images hover effect */
.godfathers:hover .overlay {
    -webkit-transform: scale(1.05, 1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
    -moz-transform: scale(1.05, 1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.3s;
}

.godfathers-text h2 {
    margin: 1.8em auto;
    text-align: center;
}

.godfathers-text-women h4 {
    margin: 2em auto;
    padding: 0 1em;
    float: right;
    color: #D65679;
}

.godfathers-text-women p {
    margin: -1.4em auto;
    padding: 0 1.2em;
    float: right;
    text-align: right;
}

.godfathers-text-men h4 {
    margin: 2em auto;
    padding: 0 1em;
    float: left;
    color: #6E6E86;
}

.godfathers-text-men p {
    margin: -1.4em auto;
    padding: 0 1.2em;
    float: left;
    text-align: left;
}

/* bridesmaids & groomsmen */
#maids {
    margin: 0 auto;
    text-align: center;
}

.maids {
    margin: 1em auto;
}

.bridesmaid {
    float: right;
}

.bestman {
    float: left;
}

.bridesmaids h4 {
    font-size: 1.2em;
    color: #D65679;
    padding: 0.4em 0;
}

.groomsmen h4 {
    font-size: 1.2em;
    color: #6E6E86;
    padding: 0.4em 0;
}